
.table-tier-list .character-img.eternity{
    background-image:
     url(https://www.prydwen.gg/static/58827370504ef0bcac1e08c1e29e2481/7dbca/10_card.webp);
}

.table-tier-list .character-img.jesica{
    background-image:
    url(https://www.prydwen.gg/static/a179674fbd1945765ab7acc626950fcc/7dbca/58_card.webp);
}

.table-tier-list .character-img.lilya{
    background-image: url(https://www.prydwen.gg/static/26bd57ac5bf969fb318b6d685580de15/7dbca/4_card.webp);
}

.table-tier-list .character-img.regulus{
    background-image: url(https://www.prydwen.gg/static/8bc95108944e098183c6ab46c44e3520/7dbca/3_card.webp);
}

.table-tier-list .character-img.ananlee{
    background-image: url(https://www.prydwen.gg/static/1503d207c03615c272a6efe7b8648723/7dbca/0_card.webp);
}

.table-tier-list .character-img.bkorn{
    background-image: url(https://www.prydwen.gg/static/c39d2b3fc125c0817da169d15b12ed4f/7dbca/16_card.webp);
}

.table-tier-list .character-img.pickles{
    background-image: url(https://www.prydwen.gg/static/bfbc630dcb06df67faf0da6b7cd1a228/7dbca/54_card.webp);
}


.table-tier-list .character-img.voyager{
    background-image: url(https://www.prydwen.gg/static/ebd17ce4fb534f34ec8a961cc41a25a0/7dbca/9_card.webp);
}

.table-tier-list .character-img.medicine{
    background-image: url(https://www.prydwen.gg/static/a5caaacbae7a95dac000e9e349f3e76f/7dbca/8_card.webp);
}

.table-tier-list .character-img.sotheby{
    background-image: url(https://www.prydwen.gg/static/5333abba71d695e1b3af216305cc5a44/7dbca/2_card.webp);
}

.table-tier-list .character-img.tooth-f{
    background-image: url(https://www.prydwen.gg/static/5e8e4497b7731a53c02931666394ae17/7dbca/56_card.webp);
}

.table-tier-list .character-img.a-knight{
    background-image: url(https://www.prydwen.gg/static/68f9e872c82d13fd2b8671c86c1b5e36/7dbca/7_card.webp);
}

.table-tier-list .character-img.centurion{
    background-image: url(https://www.prydwen.gg/static/af50b09094a8af6ee6d2b96f8723be92/7dbca/5_card.webp);
}
.table-tier-list .character-img.charlie{
    background-image: url(https://www.prydwen.gg/static/6243a35470cb1a2bbf89b15ae4e450c0/7dbca/15_card.webp);
}
.table-tier-list .character-img.druvis{
    background-image: url(https://www.prydwen.gg/static/434c01ed6c72f876b69cd36b8a908d88/7dbca/1_card.webp);
}
.table-tier-list .character-img.melania{
    background-image: url(https://www.prydwen.gg/static/a3dfc6776acfde05c67d5c7dce45fe86/7dbca/53_card.webp);
}
.table-tier-list .character-img.sonetto{
    background-image: url(https://www.prydwen.gg/static/4f16c5b3b7f60a6501fcac07522675f8/7dbca/18_card.webp);
}

.table-tier-list .character-img.x{
    background-image: url(https://www.prydwen.gg/static/83943c9fadaeaef61786117f62315145/7dbca/12_card.webp);
}

.table-tier-list .character-img.balloon{
    background-image: url(https://www.prydwen.gg/static/6bfd6cd9676fb9b4c1ef6e167e7f5b0b/7dbca/19_card.webp);
}

.table-tier-list .character-img.dikke{
    background-image: url(https://www.prydwen.gg/static/87e4b3006506966dc23ec607d89b23cf/7dbca/17_card.webp);
}
.table-tier-list .character-img.blonney{
    background-image: url(https://www.prydwen.gg/static/5f15d990bcd816a4c4ccf3d83fdd02b7/7dbca/57_card.webp);
}
.table-tier-list .character-img.eagle{
    background-image: url(https://www.prydwen.gg/static/36f0e26077e8c464d74ff5d3f84228de/7dbca/25_card.webp);
}

.table-tier-list .character-img.leilani{
    background-image: url(https://www.prydwen.gg/static/cd9ceef2d0104f07f9d0585685dc95be/7dbca/41_card.webp);
}
.table-tier-list .character-img.pavia{
    background-image: url(https://www.prydwen.gg/static/e3c24611e6f35da17ddcc416d5ac6232/7dbca/28_card.webp);
}

.table-tier-list .character-img.rabies{
    background-image:url(https://www.prydwen.gg/static/8b1bb58ca09be13bd1364853652a9259/7dbca/33_card.webp);
}
.table-tier-list .character-img.satsuki{
    background-image: url(https://www.prydwen.gg/static/2389f3b62c836ab08047561fd12b4a54/7dbca/21_card.webp);
}

.table-tier-list .character-img.swheart{
    background-image: url(https://www.prydwen.gg/static/54f5d844820c6a94e049320e85791882/7dbca/13_card.webp);
}

.table-tier-list .character-img.babyblue{
    background-image: url(https://www.prydwen.gg/static/9a454828877905e5646b40e6039f76c0/7dbca/14_card.webp);
}
.table-tier-list .character-img.diggers{
    background-image: url(https://www.prydwen.gg/static/d3e672c22f513d94b6f3b31701ee479e/7dbca/55_card.webp);
}
.table-tier-list .character-img.horro{
    background-image: url(https://www.prydwen.gg/static/a8aacc04b6f7f24e6fd75ed26252843f/7dbca/59_card.webp);
}
.table-tier-list .character-img.necrologist{
    background-image: url(https://www.prydwen.gg/static/ff65664f234a5098e5d3869df02de1a8/7dbca/20_card.webp);
}

.table-tier-list .character-img.twinssleep{
    background-image: url(https://www.prydwen.gg/static/edc8b43418e34fbd1479d67bb23ff56d/7dbca/43_card.webp);
}

.table-tier-list .character-img.click{
    background-image: url(https://www.prydwen.gg/static/f8b73e5bdc6c4fb3bf5de14d39917a4e/7dbca/23_card.webp);
}

.table-tier-list .character-img.la-source{
    background-image: url(https://www.prydwen.gg/static/757413e950dbc90274bd212c26c936df/7dbca/39_card.webp);
}

.table-tier-list .character-img.newbabel{
    background-image: url(https://www.prydwen.gg/static/39f43c3b3c9a9cd9d2dc49b04f44ac4b/7dbca/11_card.webp);
}

.table-tier-list .character-img.tennant{
    background-image: url(https://www.prydwen.gg/static/462781a9d45beedc29eeb89110f321d9/7dbca/22_card.webp);
}
